.section {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 6rem;
}

.blogContent {
  padding-right: 1rem;
  font-size: 0.7rem;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}

.img {
  z-index: 1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 9.5rem;
}

.h2 {
  padding-bottom: 0.5rem;
}

.date {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 375px) {
  .img {
    z-index: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 11rem;
  }
  .blogContent {
    padding-right: 0.5rem;
    font-size: 0.85rem;
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 992px) {
  .section {
    min-height: 100vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 8rem;
    font-family: "Trebuchet MS", Helvetica;
    width: 95vw;
    width: 100%;
  }
  .blogContent {
    width: 100%;

    font-size: 1.2rem;
  }
  .sectionCenter {
    width: 95vw;
  }

  .templateCenter {
    width: 95vw;
    margin: 0 auto;
    max-width: 800px;
  }
  .img {
    z-index: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 25rem;
  }
}

h1,
h2,
h3 {
  margin: 0 auto 0.35em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
}
