.container {
  background-image: linear-gradient(to left, #ddd6f3, #faaca8);
  // padding-top: 0;
  padding: 1rem 0;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  // font-weight: 400;
  // background: #b86b77;
  // padding-top: 5rem 0;
  // background: #2c2d30;
  // color: white;
  // .dark-mode {
  //   color: white;
  //   background: #2c2d30;
  //   transition: background-color 0.3s, color 0.3s;
  // }
}
// min-height: 100vh;
// height: 100vh;
// display: flex;
// align-items: center;
// border-bottom: 0;
// background: #fff;
// font-weight: 400;
// color: #272341;
// padding: 0 5.6rem;
// margin-bottom: 0;
// top: 0;
// left: 0;
// bottom: 0;
// right: 0;
// z-index: -1;
// }
/* section */
.section {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}
.aboutText {
  margin-left: 1rem;
  margin-right: 1rem;
}

.aboutText p {
  line-height: 2;

  // color: #222;
  // color: #324d67;
  // color: white;
}

.text {
  // color: #222;
  // color: #324d67;
  // color: white;
  padding-top: 1rem;
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1px;
  // word-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.link {
  color: #222;
  // color: white;
}

.link:hover {
  color: #faaca8;
}

h2 {
  color: #222;
  // color: white;
  // padding-top: 5rem;
}

@media screen and (min-width: 992px) {
  .section {
    // opacity: 0.4;
  }
  .container {
    // background-image: linear-gradient(to left, #ddd6f3, #faaca8);
  }

  .text {
    // color: white;
  }

  .aboutText p {
    // color: white;
  }
  h2 {
    // color: white;
  }
  .link {
    // color: white;
  }
  .sectionCenter {
    width: 95vw;
  }
  .aboutCenter {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // align-items: center;
    // column-gap: 4rem;
  }
  //   .about-img {
  //     grid-column: 1 / span 5;
  //     margin-bottom: 0;
  //   }
  .aboutText {
    // grid-column: 6 / -1;
  }

  .aboutImg {
    height: 40rem;
  }
}
