.container {
  // background-color: #fafafa;
  background: grey;
  // height: 35vw;
}

/* section */
.section {
  padding: 5rem 0;
  margin-left: 1rem;
  margin-right: 1rem;

  // background-color: #fafafa;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}

.aboutText p {
  line-height: 2;
  // color: #222;
  color: white;
}

.text {
  // color: #222;
  color: white;
  padding-top: 1rem;
  font-size: 18px;
}

.link {
  // color: #222;
  color: white;
}

h2 {
  color: white;
  padding-top: 5rem;
}

@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
  }
  .aboutCenter {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // align-items: center;
    // column-gap: 4rem;
  }
  //   .about-img {
  //     grid-column: 1 / span 5;
  //     margin-bottom: 0;
  //   }
  .aboutText {
    // grid-column: 6 / -1;
  }
}
