.container {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}

.social {
  margin: 1rem 0;
  a {
    padding: 1rem;
    margin: 1rem 0;
    transition: transform 250ms;
    display: inline-block;
  }

  a:hover {
    transform: translateY(-2px);
  }

  .faGithub {
    color: #211f1f;
  }

  .faLinkedin {
    color: #2867b2;
  }

  .faTwitter {
    color: #1da1f2;
  }
}

.form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  width: 90vw;
  max-width: 35rem;
  outline: solid 1px;

  input {
    display: block;
    width: 100%;
    // padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    outline: solid 0.5px;
  }
  textarea {
    display: block;
    width: 100%;
    // padding: 0.75rem 1rem;
    border: none;
    margin-bottom: 1.25rem;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
    outline: solid 0.5px;
  }

  textarea::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
  }

  input::placeholder {
    font-family: var(--ff-primary);
    color: var(--clr-grey-1);
    text-transform: uppercase;
    letter-spacing: var(--spacing);
  }
}

.formFields {
  // padding: 1rem 1.5rem;
  outline: solid 1px;
}
.form:hover {
  box-shadow: var(--dark-shadow);
}

.form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}

button {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
