.section {
  padding: 5rem 0;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}

.title {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
  }

  .blogsCenter {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
}
