.section {
  padding: 5rem 0;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}

// @media screen and (min-width: 576) {
//   .section {
//     // padding: 5rem 0;

//     // padding: 2rem 0;
//   }
//   .sectionCenter {
//     // width: 90vw;
//     // margin: 0 auto;
//     // max-width: 1170px;
//     // margin: 0px 25px 0px 25px;
//   }
//   .blogsCenter {
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
//     -webkit-column-gap: 2rem;
//     column-gap: 2rem;
//     // margin: 0px 6rem 0px 6rem;
//   }
// }

@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
  }

  .blogsCenter {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
}
