// .posts {
//   list-style-type: none;
//   margin: 0;
// }

// .post {
//   margin: 1rem 0;

//   a {
//     background: #f4f4f4;
//     color: #000000;
//     display: block;
//     padding: 1rem;
//     text-decoration: none;
//   }

//   a:hover {
//     background: #e4e4e4;
//   }

//   h2 {
//     margin-bottom: 0;
//   }

//   p {
//     color: #777777;
//     font-size: 0.8rem;
//     font-style: italic;
//   }
// }

@media screen and (min-width: 576) {
  .section {
    padding: 5rem 0;

    // padding: 2rem 0;
  }
  .sectionCenter {
    // width: 90vw;
    // margin: 0 auto;
    // max-width: 1170px;
    // margin: 0px 25px 0px 25px;
  }
  .blogsCenter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    -webkit-column-gap: 2rem;
    column-gap: 2rem;
    // margin: 0px 6rem 0px 6rem;
  }
}

@media screen and (min-width: 992px) {
  .section {
    padding: 5rem 0;
    // width: 1170px;
  }
  .sectionCenter {
    // width: 95vw;
    // margin: 0px 9rem 0px 9rem;
  }
  .blogsCenter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
}
