.contact {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 5rem;
  // padding-left: 7rem;
}

.email {
  // justify-content: top;
  // align-content: flex-start;
  // padding-left: 4rem;
  // // padding-top: 12rem;
  // margin-top: 15rem;
  // margin-right: 5rem;
  // // padding-right: 8rem;
  text-align: center;
  font-size: 16px;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

// .text {
//   display: block;
// }
// p {
//   display: block;
//   padding-left: 5rem;
// }
.container {
  display: grid;
  place-items: center;
  padding: 5rem 0;
  padding-top: 2rem;
}

.form {
  text-align: center;
  width: 95vw;
  max-width: 35rem;
  padding: 1rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0.1px hidden #b7b7b7;
  -webkit-box-shadow: 1px 5px 15px 2px #b7b7b7;
  box-shadow: 1px 5px 15px 2px #b7b7b7;
  background-color: whitesmoke;

  input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 1.25rem;
    margin: 1rem 0;
    padding: 12px 18px;

    border-radius: 6px;
  }
  textarea {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    // text-transform: uppercase;
    margin: 8px 0;
    padding: 12px 18px;
  }

  textarea::placeholder {
    text-transform: uppercase;
  }

  input::placeholder {
    text-transform: uppercase;
  }

  input:focus {
    outline: 2px solid grey;
    border-radius: 6px;
  }
  textarea:focus {
    outline: 2px solid grey;
    border-radius: 6px;
  }
}

.formFields {
  padding: 0.5rem;
}
.form:hover {
  // box-shadow: var(--dark-shadow);
}

.form h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  color: #4f4f4f;
}

.button {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 6px;
  // background-color: grey;
  background-image: linear-gradient(
    to bottom,
    #d76d77,
    #ee9ca7,
    #ee9ca7,
    #ffafbd,
    #ffdde1
  );
  // background: #626262;
  // color: white;
  font-size: 16px;
}

.button:hover {
  // background-color: lighten($color: grey, $amount: 4);
  background-image: linear-gradient(
    to top,
    #d76d77,
    #ee9ca7,
    #ee9ca7,
    #ffafbd,
    #ffdde1
  );
}
h3 {
  // color: #102a42;
}

.button:disabled {
  background-color: lighten($color: grey, $amount: 20);
}

.a {
  color: black;
}

.a:hover {
  background-image: linear-gradient(to right, #ddd6f3, #faaca8);
}

@media screen and (min-width: 992px) {
  .contact {
    display: flex;
    flex-direction: row;
    padding-left: 7rem;
  }

  .email {
    justify-content: flex-end;
    align-content: flex-end;
    padding-left: 4rem;
    // padding-top: 12rem;
    margin-top: 13rem;
    margin-right: 7rem;
    // padding-right: 1rem;
    // padding-right: 8rem;
    text-align: left;
    font-size: 18px;
  }
}
