.container {
  display: grid;
  place-items: center;
  padding: 5rem 0;
}

.form {
  text-align: center;
  width: 95vw;
  max-width: 35rem;
  padding: 1rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 0.1px hidden #b7b7b7;
  -webkit-box-shadow: 1px 5px 15px 2px #b7b7b7;
  box-shadow: 1px 5px 15px 2px #b7b7b7;
  background-color: whitesmoke;

  input {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 1.25rem;
    // text-transform: uppercase;
    margin: 1rem 0;
    padding: 12px 18px;

    border-radius: 6px;
  }
  textarea {
    display: block;
    width: 100%;
    border: none;
    margin-bottom: 1.25rem;
    border-radius: 6px;
    // text-transform: uppercase;
    margin: 8px 0;
    padding: 12px 18px;
  }

  textarea::placeholder {
    text-transform: uppercase;
  }

  input::placeholder {
    text-transform: uppercase;
  }

  input:focus {
    outline: 2px solid grey;
    border-radius: 6px;
  }
  textarea:focus {
    outline: 2px solid grey;
    border-radius: 6px;
  }
}

.formFields {
  padding: 0.5rem;
}
.form:hover {
  // box-shadow: var(--dark-shadow);
}

.form h3 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  width: 30%;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: grey;
  color: white;
  font-size: 16px;
}

button:hover {
  background-color: lighten($color: grey, $amount: 4);
}
h3 {
  color: #102a42;
}

button:disabled {
  background-color: lighten($color: grey, $amount: 6);
}
