.footer {
  background-image: linear-gradient(
    to top,
    #d76d77,
    #ee9ca7,
    #ee9ca7,
    #ffafbd,
    #ffdde1,
    #ffffff
  );

  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  font-size: 16px;

  text-decoration: none;
  letter-spacing: 1px;

  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.footerDark {
  background: #2c2d30;

  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  font-size: 16px;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;

  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

a {
  color: white;
}

a:hover {
  color: #f96c85;
}

p {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
