.footer {
  background: grey;
  height: auto;
  text-align: center;
  display: grid;
  place-items: center;
  padding-bottom: 2rem;
  font-size: 16px;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  // word-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

a {
  // text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}
