.navBar {
  width: 96%;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  background-image: linear-gradient(to left, #ddd6f3, #faaca8);
  padding: 0 15px;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 100000;
}

.headerSticky {
  background: white;
  z-index: 100000;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.6s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navBarSticky {
  width: 96%;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
  order: 0;
  position: relative;
  transition: 0.6s;
}
.navList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  // word-spacing: 2px;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.navLink {
  display: block;
  padding: 15px 5px;
  // color: white;
  color: white;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.navLinkSticky {
  display: block;
  padding: 15px 5px;
  color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
}

.navItem {
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.activeNavItem {
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.navLink:hover,
.navLink:hover::after {
  color: #ccc;
}

/*Mobile menu */

.toggle {
  padding-top: 5px;
  font-size: 20px;
  color: white;
  order: 2;
}

.projectIcon {
  // padding-top: 0.6rem;

  font-size: 20px;
  color: white;
}

.projectIconSticky {
  font-size: 20px;
  color: black;
}

.navItem {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.activeNavItem {
  order: 2;
  width: 100%;
  text-align: center;
}

/* tablet menu */

@media all and (min-width: 700px) {
  .navList {
    justify-content: center;
  }

  .logo {
    flex: 1;
  }

  .toggle {
    flex: 1;
    text-align: right;
    order: 1;
  }
}

/* desktop menu */

@media all and (min-width: 960px) {
  .navList {
    padding-right: 8rem;
    padding-left: 5rem;
  }
  .navItem {
    order: 2;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .navBar {
    width: 96%;
  }

  .header {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to left, #ddd6f3, #faaca8);
    padding: 0 15px;
    position: fixed;
    width: 100%;
    transition: 0.6s;
    z-index: 100000;
  }

  .headerSticky {
    background: white;
    z-index: 100000;
    padding: 0 15px;
    width: 100%;
    position: fixed;
    color: black;
    display: flex;
    flex-direction: row;
    transition: 0.6s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .navBarSticky {
    width: 96%;
  }
}

@media all and (max-width: 320px) {
  .switch {
  }
}
