.navBar {
  width: 96%;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-around;
  background-color: white;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 100000;
}

.headerSticky {
  background: white;
  z-index: 100000;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: fixed;
  color: black;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.6s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.headerDark {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  // justify-content: space-around;
  // background-color: #2c2d30;
  // background: #182848;
  // background: #2c2d30;
  // padding-top: 0.5rem;
  // padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  transition: 0.6s;
  z-index: 100000;
  color: white;
}

.headerStickyDark {
  // background: white;
  background: #2c2d30;
  z-index: 100000;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  // padding-top: 0.5rem;
  // padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  position: fixed;
  color: #f96c85;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.6s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navBarSticky {
  width: 96%;
}

.navList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  letter-spacing: 1px;
  // word-spacing: 2px;
  // font-weight: normal;
  // font-style: normal;
  // font-variant: normal;
  // text-transform: none;
}
.navLink {
  display: block;
  padding: 15px 5px;
  // color: white;
  color: #4f4f4f;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: right;
}

.navLinkSticky {
  display: block;
  padding: 15px 5px;
  color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: right;
}

.navLinkDark {
  display: block;
  padding: 15px 5px;
  color: white;
  // color: #4f4f4f;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: right;
}

.navLinkStickyDark {
  display: block;
  padding: 15px 5px;
  // color: black;
  color: #f96c85;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: right;
}

.navItem {
  list-style-type: none;
  padding: 10px;
  position: relative;
}

.activeNavItem {
  list-style-type: none;
  padding: 10px;
  position: relative;

  // justify-content: flex-start;
  // align-items: flex-start;
}

.navLink:hover,
.navLink:hover::after {
  color: #ccc;
}

.logo {
  padding-top: 0.4rem;
  font-size: 18px;
  // padding: 7.5px 10px 7.5px 0;
  // padding-top: 0.1rem;
  // padding-left: 0.8rem;
  // padding-right: 0.5rem;
  order: 0;
  position: relative;
  text-align: center;
  transition: 0.6s;
}

.title {
  font-family: "Sacramento", cursive;
  // font-weight: 400;
  // display: block;
  // padding: 15px 5px;
  padding-left: 3.5rem;
  // color: white;
  // color: white;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: center;
  font-size: 2.5rem;
  color: #f96c85;
}

.titleActive {
  font-family: "Sacramento", cursive;
  // font-weight: 400;
  // display: block;
  // padding: 15px 5px;
  padding-left: 3.5rem;
  // color: white;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: center;
  font-size: 2.5rem;
  // color: white;
  color: #4f4f4f;
}

.titleDark {
  font-family: "Sacramento", cursive;
  // display: block;
  // padding: 15px 5px;
  padding-left: 3.5rem;
  // color: white;
  // color: white;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: center;
  font-size: 2.5rem;
  color: #f96c85;
  // color: #f96c85;
}

.titleActiveDark {
  font-family: "Sacramento", cursive;
  // display: block;
  // padding: 15px 5px;
  padding-left: 3.5rem;
  // color: white;
  // color: black;
  text-decoration: none;
  position: relative;
  transition: 0.5s;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  // color: #4f4f4f;
}

/*Mobile menu */

.switch {
  margin: 0;
  padding-top: 0.25rem;
  padding-right: 1rem;
}

.toggle {
  padding-top: 0.5rem;
  // font-size: 1.5rem;
  color: white;

  order: 1;
}

.projectIcon {
  font-size: 1.5rem;
  color: #4f4f4f;
  // color: #4f4f4f;
}

.projectIconSticky {
  font-size: 1.5rem;
  color: black;
}

.projectIconDark {
  font-size: 1.5rem;
  color: white;
}

.projectIconStickyDark {
  font-size: 1.5rem;
  color: #f96c85;
}

.navItem {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}

.activeNavItem {
  order: 2;
  width: 100%;
  text-align: center;
}

/* tablet menu */

@media all and (min-width: 700px) {
  .navList {
    // justify-content: center;
    // justify-content: space-between;
    // align-items: center;
  }

  // .logo {
  //   padding-top: 0.1rem;
  //   font-size: 18px;
  //   // padding: 7.5px 10px 7.5px 0;
  //   // padding-top: 0.1rem;
  //   // padding-left: 0.8rem;
  //   // padding-right: 0.5rem;
  //   order: 0;
  //   position: relative;
  //   transition: 0.6s;
  // }

  /*Mobile menu */

  // .switch {
  //   margin: 0;
  //   padding-top: 0;
  //   padding-right: 1rem;
  // }

  // .toggle {
  //   padding-top: 0.5rem;
  //   // padding-right: auto;
  //   // font-size: 1.5rem;
  //   color: white;
  //   order: 1;
  // }
}

/* desktop menu */

@media all and (min-width: 960px) {
  .navList {
    justify-content: left;
    padding-left: 1rem;
  }
  .navItem {
    order: 2;
    position: relative;
    display: block;
    width: auto;
  }

  .toggle {
    display: none;
  }

  .navBar {
    width: 96%;
  }

  .header {
    display: flex;
    flex-direction: row;
    // background: white;
    // background-image: linear-gradient(to left, #ddd6f3, #faaca8);
    // padding-top: 0.25rem;
    // padding-bottom: 0.25rem;
    // padding-right: 1rem;
    position: fixed;
    width: 100%;
    transition: 0.6s;
    z-index: 100000;
    color: #4f4f4f;
  }

  .headerSticky {
    // background: white;
    z-index: 100000;
    // padding-top: 0.25rem;
    // padding-bottom: 0.25rem;
    // padding-right: 0.5rem;
    // padding-right: 1rem;
    width: 100%;
    position: fixed;
    color: black;
    display: flex;
    flex-direction: row;
    transition: 0.6s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .headerDark {
    display: flex;
    flex-direction: row;
    // background: #182848;
    // background: #2c2d30;
    // background-image: linear-gradient(to top, #2c3e50, #182848);
    // padding-top: 0.25rem;
    // padding-bottom: 0.25rem;
    // padding-right: 1rem;
    position: fixed;
    width: 100%;
    transition: 0.6s;
    z-index: 100000;
    // color: #4f4f4f;
    color: white;
  }

  .headerStickyDark {
    // background: #2c2d30;
    z-index: 100000;
    // padding-top: 0.25rem;
    // padding-bottom: 0.25rem;
    // padding-right: 0.5rem;
    // padding-right: 1rem;
    width: 100%;
    position: fixed;

    color: #f96c85;
    display: flex;
    flex-direction: row;
    transition: 0.6s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .navBarSticky {
    width: 96%;
  }
  .logo {
    // font-size: 3rem;
    padding-top: 0.15rem;
    padding-right: 6rem;
    // padding-bottom: 7.5px;
    // padding-left: 0;
    text-align: left;
    order: 0;
    position: relative;
    transition: 0.6s;
  }

  // .title {
  //   // font-size: 49px;
  // }

  // .titleActive {
  //   font-size: 49px;
  // }

  // .titleDark {
  //   font-size: 49px;
  // }

  // .titleActiveDark {
  //   font-size: 49px;
  // }

  .switch {
    margin: 0;
    padding-top: 0.15rem;
    padding-right: 1rem;
  }
}

@media all and (max-width: 320px) {
  .title {
    padding-left: 1.5rem;
  }

  .titleActive {
    padding-left: 1.5rem;
  }

  .titleDark {
    padding-left: 1.5rem;
  }

  .titleActiveDark {
    padding-left: 1.5rem;
  }
}
