.projects {
  //   background: var(--clr-grey-10);
}

.section {
  margin-left: 5rem;
  padding: 1rem;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
  }
}
