.section {
  margin: 5rem 0;
}

.title {
  text-align: center;
}

.sectionCenter {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .sectionCenter {
    width: 95vw;
  }
}
