.social {
  margin: 1rem 0;
  // color: white !important;
  a {
    padding: 1rem;
    margin: 1rem 0;
    transition: transform 250ms;
    display: inline-block;
  }

  a:hover {
    transform: translateY(-2px);
  }

  .faGithubSquare {
    color: #211f1f;
    font-size: 1.01rem;
  }

  .faLinkedin {
    color: #2867b2;
  }

  .faTwitterSquare {
    color: #1da1f2;
    // align-items: center;
  }
}
